td, th{
    width: 150px;
    padding: 0 15px;
}

tr:nth-child(even) {

    background-color: rgba(255, 255, 255, 0.07);
    padding-top: 20px;

}

body tr:first-child{
    
    background-color: white;
    color: #333;
    height: 80px;
    border-radius: 50px 20px;
    
}

tr button{

    margin: 25px 16px;
    border-radius: 25px;
    padding: 10px 26px;
    font-weight: 600;
    background: rgba(248,80,50,1);
    border: 2px solid rgba(248,80,50,1);
    transition: .3s;

}

tr button:hover{

    background: none;
    color: rgba(248,80,50,1);


}

#th-module-sort, #th-pro-id-sort, #th-pro-desc-sort, #th-total-hours-sort, #th-due-sort {

    cursor: pointer;

}

body{

    height: 100vh;
    width: 300vh;
    background: rgba(90,87,96,1);
    background: -moz-linear-gradient(-45deg, rgba(90,87,96,1) 0%, rgba(43,39,52,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(90,87,96,1) 0%, rgba(43,39,52,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(90,87,96,1) 0%, rgba(43,39,52,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(90,87,96,1) 0%, rgba(43,39,52,1) 100%);
    background: linear-gradient(135deg, rgba(90,87,96,1) 0%, rgba(43,39,52,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a5760', endColorstr='#2b2734', GradientType=1 );
    transition: .3s;

}


#form-decoration {

    height: 200vh;
    width: 250px;
    padding: 0 20px;
    z-index: 1;
    background-color: white;
    -webkit-box-shadow: 2px 0px 21px 11px rgba(0,0,0,0.28);
    -moz-box-shadow: 2px 0px 21px 11px rgba(0,0,0,0.28);
    box-shadow: 2px 0px 21px 11px rgba(0,0,0,0.28);
    position: fixed;
    
    transition: .5s;

}

#form-decoration h1 {

    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;

}


#table-decoration table {

    margin-left: 40px;
    margin-top: 10%;
    color: white;

}

#form-decoration button, input {

    width: 100%;

}

#form-decoration textarea {

    width: 100%;
    height: 140px;

}

#form-decoration input, #form-decoration textarea{

    border: 2px solid #434343;
    padding: 0 5px;

}

#form-decoration p {

    color: white;
    padding: 10px 20px;
    margin-top: 35px;
    margin-bottom: 0;
    text-transform: capitalize;
    font-weight: 600;
    background: rgba(90,87,96,1);
    background: -moz-linear-gradient(-45deg, rgba(90,87,96,1) 0%, rgba(43,39,52,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(90,87,96,1) 0%, rgba(43,39,52,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(90,87,96,1) 0%, rgba(43,39,52,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(90,87,96,1) 0%, rgba(43,39,52,1) 100%);
    background: linear-gradient(135deg, rgba(90,87,96,1) 0%, rgba(43,39,52,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a5760', endColorstr='#2b2734', GradientType=1 );

}

#form-decoration button{

    margin-top: 20px;
    padding: 10px 20px;
    border: 3px solid #2196f3;
    color: white;
    font-weight: 600;
    background-color: #2196f3;
    transition: .3s;
}

#form-decoration button:hover {

    background: none;
    color: #2196f3;

}

th#th-pro-desc-sort {
    width: 400px;
}

#hamburger-menu {
    
    width: 30px;
    margin: 15px;
    padding: 4px;
    background-color: white;
    border-radius: 8px;
    
}

        

@media screen and (min-width: 768px){
    
    #form-decoration{
        
        left: 0;
        
    }
    
    #hamburger-menu{
    
    position: fixed;
    display: none;
    
    }
    
}

@media screen and (max-width: 768px){
    

    
    #hamburger-menu {
    
    position: fixed;
    display: inline;
    
}
    
}